einops
tqdm
opencc
fast_langdetect>=0.3.1
torchcodec
transformers
sounddevice
split-lang
safetensors
wordsegment
g2p_en
cn2an
pypinyin
jieba_fast
ToJyutping
pyopenjtalk>=0.4.1
jamo
kiwipiepy
